nz-header
  background-color: #004D5F
  height: 60px
  background-size: contain

h3
  color: #ffffff
  display: inline
ul
  text-align: right
  padding: 0
a
  color: #ffffff
a:hover
  color: #08C1EC
li
  display: inline
  padding-left: 4px
  padding-right: 4px
