<nz-divider nzOrientation="center" nzText="Conócenos" style="font-size: 24px"></nz-divider>

<div nz-row >
  <img alt="100px" src="assets/img/jbanner.jpg">
</div>
<h3 style="margin-top: 20px">JTurismo es la empresa de viajes online líder en Colombia. Con 20 años en el mercado, acompañando a los Colombianos desde el momento en que sueñan con viajar hasta cuando están compartiendo recuerdos. Gracias a la fuerte apuesta por desarrollo tecnológico JTurismo ofrece una experiencia personalizada para más de 18 millones de clientes. </h3>
