<nz-layout class="layout">
  <nz-sider>
    <div class="logo" ></div>
    <ul nz-menu nzMode="inline">
      <li nz-menu-item [routerLink]="['/inicio']" routerLinkActive="active-link" >
        <i nz-icon nzType="home" nzTheme="fill"></i>
        <span >Inicio</span>
      </li>
      <li nz-menu-item [routerLink]="['/hoteles']" routerLinkActive="active-link">
        <i nz-icon nzType="star" nzTheme="fill"></i>
        <span > Hoteles</span>
      </li>
      <li nz-menu-item [routerLink]="['/sitios']" routerLinkActive="active-link">
        <i nz-icon nzType="environment" nzTheme="fill"></i>
        <span >Sitios de Interés</span>
      </li>
      <li nz-menu-item [routerLink]="['/nosotros']" routerLinkActive="active-link">
        <i nz-icon nzType="info-circle" nzTheme="fill"></i>
        <span >Quienes Somos</span>
      </li>
    </ul>


    <div class="login">
        <button nz-button nzType="#004D5F" [nzSize]="20" nzShape="round"><i nz-icon nzType="user" nzTheme="outline"></i>Iniciar Sesión</button>
        <br>
        <br>
        <br>
        <button nz-button nzType="#004D5F" [nzSize]="20" nzShape="round"><i nz-icon nzType="user-add" nzTheme="outline"></i>Crear Cuenta</button>
    </div>

  </nz-sider>


  <nz-layout class="right-layout">
    <app-header></app-header>
    <nz-content>
      <div class="inner-content" >
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <app-footer></app-footer>
  </nz-layout>

</nz-layout>
