.logo
  height: 60px
  background-image: url("src/assets/img/jsmile2.png")
  background-position: center
  background-size: contain
  background-repeat: no-repeat
  margin: 5px


.layout
  min-height: 100vh


nz-sider
  overflow: auto
  height: 100%
  position: fixed
  left: 0
  background-color: #F7F7F7

ul
  background-color: #004D5F

li
  color: #ffffff

li:hover
  color: #ffffff
  background-color: #003744


.right-layout
  margin-left: 200px


nz-header
  background-color: #004D5F
  padding: 0


nz-content
  margin: 24px 16px 0
  overflow: initial

.inner-content
  padding: 24px
  background: #fff
  text-align: center


nz-footer
  text-align: center

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected
  background-color: #003744

.login

  margin: 100px 30px 20px

.login .ant-btn
  background-color: #004D5F
  color: #ffffff
  border-radius: 5px

.login .ant-btn:hover

  background-color: #ffffff
  color: #004D5F
  border-color: #004D5F

