<nz-divider nzOrientation="center" nzText="Hoteles Disponibles"></nz-divider>

<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box"></div>

    <nz-card nzHoverable style="width:480px" [nzCover]="coverTemplate">
      <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img alt="60px" src="assets/img/prado.png"/>
    </ng-template>
  </div>
  </div>

