<nz-divider nzOrientation="center" nzText="Hoteles Disponibles"></nz-divider>
<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box"></div>
    <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
      <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img alt="50px" src="assets/img/hotel1.jpg"/>
    </ng-template>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box"></div>
    <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
      <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
    </ng-template>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box"></div>
    <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
      <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
    </ng-template>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box"></div>
    <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
      <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img alt="example" src="https://media-cdn.tripadvisor.com/media/photo-s/09/eb/09/de/barcelo-costa-cancun.jpg" />
    </ng-template>
  </div>
</div>

